/* General styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.Header {
    background-color: #333;
    padding: 0.625rem 1.25rem;
}

.Header-wrapper {
    display: flex;
    align-items: center;
    padding: 0.2rem;
}

.Header-h1 {
    color: white;
    font-size: 1.5rem;
    margin: 0;
    margin-right: 1.25rem; /* Espacio entre h1 y el nav */
}

.Header-nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.Header-ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.Header-li {
    margin: 0 0.625rem;
    color: white;
}

.Header-search {
    padding: 0.6rem;
    font-size: 16px;
    border: none;
    border-radius: 1rem;
    outline: none;
    margin-left: 20px;
    width: 60%;
}

.Header-search::placeholder {
    color: #333333;
}

.Header-icons {
    margin-left: 1rem;
    display: flex;
    align-items: center;
}

.Header-icons i {
    color: white;
    font-size: 1rem;
    margin-left: 1rem;
    cursor: pointer;
    transition: color 0.3s;
}

.Header-icons i:hover {
    color: coral;
}