.product-details {
    text-align: center;
    margin: 50px auto;
    max-width: 600px;
}

.product-details-image {
    width: 50%;
    height: auto;
    margin-bottom: 20px;
}

.product-details h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.product-details p {
    font-size: 16px;
    margin-bottom: 10px;
}

.product-details-price {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.product-details-rating p {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
    margin-right: 10px;
}

button:hover {
    background-color: #218838;
}

.back-button {
    display: inline-block;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.back-button:hover {
    background-color: #0056b3;
}