/* Contenedor principal del encabezado */
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #23313F;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: white;
}

/* Estilo del logo */
.logo {
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
}

/* Estilo para el enlace del logo */
.header-icon-link {
    text-decoration: none;
    color: #fff;
}

/* Estilo de las opciones del menú */
.menu-options {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

.menu-options li {
    cursor: pointer;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
    color: #fff;
}

.menu-options li:hover {
    background-color: #e9ecef;
    border-radius: 4px;
}

/* Barra de búsqueda */
.search-bar {
    display: flex;
    align-items: center;
}

.Header-search {
    padding: 5px 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    width: 200px;
    transition: width 0.3s ease;
}

.Header-search:focus {
    width: 250px;
    outline: none;
    border-color: #80bdff;
}

/* Estilos para los iconos del encabezado */
.Header-icons {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 1rem;
}

.icon-container {
    position: relative;
}

.header-icon-link i {
    font-size: 1rem;
    cursor: pointer;
    transition: color 0.3s ease;
    color: #fff;
}

.header-icon-link i:hover {
    color: #007bff;
}

/* Insignia para la cantidad de items en el carrito */
.icon-badge {
    position: absolute;
    top: 1rem;
    right: 6.5rem;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 0.7rem;
}

/* Estilo del icono de cambio de tema */
.fas.fa-adjust {
    cursor: pointer;
}

/* Modo dark */
.dark-mode .header-container {
    background-color: #343a40;
    color: white;
}

.dark-mode .menu-options li:hover {
    background-color: #495057;
}

.dark-mode .Header-search {
    border-color: #495057;
    background-color: white;
    color: white;
}

.dark-mode .Header-search:focus {
    border-color: #80bdff;
}

.dark-mode .header-icon-link i:hover {
    color: #80bdff;
}